* {
    text-transform: uppercase;
}

body {
    display: block;
}

h5 {
    padding: 10px;
}

hr {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

header {
    margin-bottom: 50px;
}

.titulo {
    padding: 3px 0;
    justify-content: center;
    text-decoration: underline;
}

.criar_Empresa {
    justify-content: center;
}

.criar_Empresa input {
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin: 10px;
}

.criar_Empresa button {
    display: block;
}