.cabecalho {
    display: block;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: #cac7c6;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50px;
    padding-bottom: 80px;
}

ul img {
    width: 40px;
    margin-left: 50px;
}

ul li + li {
    margin: 0 20px 80px 20px;
    font-size: 20px;
}

.cabecalho button {
    color: #cac7c6;
    background: none;
    border: none;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    min-width: 60px;
    max-width: fit-content;
    border-radius: 5px;
}

.cabecalho button:hover {
    background-color: #800000;
    cursor: pointer;
}

@media(max-width: 700px) {
    .cabecalho {
        justify-content: center;
        text-align: center;
    }

    ul {
        justify-content: center;
    }

    ul img {
        width: 40px;
        margin-left: 0;
    }

    ul li + li {
        margin: 0 10px 80px 10px;
        font-size: 18px;
    }

    h1 {
        margin: 0;
    }
}