div.home {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 50px;
    justify-content: center;
    align-content: center;
}

.home  #img-logo {
    text-align: center;
    padding-top: 15px;
}

.home #img-logo img {
    width: 130px;
}

.home h3 {
    padding-bottom: 40px;
    color: #353839;
}