div.home {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 50px;
    justify-content: center;
    align-content: center;
}

#img-logo {
    text-align: center;
    padding-top: 15px;
}

#img-logo img {
    width: 130px;
}

hr {
}

h3 {
    padding-bottom: 40px;
    color: #353839;
}