.list-item {
    display: block;
    padding: 8px;
    margin: 10px;
    border: 1px solid #353839;
    border-radius: 5px;
    background: #cac7c6;
    width: 100%;
}

.list-item .grid-container {
    display: grid;
    grid-template-columns: 180px auto;
    grid-template-rows: 40px;
    align-items: center;
    width: 100%;
}

.list-item .grid-container p {
    font-weight: bold;
    height: 25px;
    padding: 3px 3px 3px 6px;
    margin: 10px 0 0 5px;
    color: #353839;
    background: #fff;
    border: 1px solid #353839;
    border-radius: 3px 0;
}

.list-item .div-buttons {
    display: grid;
    grid-template-columns: 250px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.list-item .div-buttons button.btn-editar[type=button] {
    padding: 8px 0;
    margin: 10px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #0f679a;
    color: #fff;
}

.list-item .div-buttons button.btn-editar[type=button]:hover {
    cursor: pointer;
    background-color: #74868f;
    color: black;
}