#App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
  min-width: 540px;
}

#App main {
  padding: 20px;
  margin: 50px;
  width: 90%;
  background-color: #fff;
  border-radius: 10px 0;
}

@media(max-width: 700px) {
  #App {
    margin: 0;
    padding: 60px 0;
    min-width: 540px;
  }
}